/* CSS Document */
body {
	margin:0;
}

#title-bar {
	position: fixed;
	width:100%;
	height:60px;
	display: flex;
	box-shadow:0 0 10px #000;
	align-items: center;
}

#title-bar-icon {
	height:50px;
	margin:5px;
}

#title-self {
	margin:5px;
}

#title-bar-nav {
	margin:0 24px;;
}

.title-bar-nav-item {
	margin:12px;
}

.nav-button {
	width:40px;
	height:40px;
}

#title-bar-buttton-nav {
	position: absolute;
	right:0;
	margin: 0 5px;
}

.full-section {
	width:100%;
	height:400px;
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.main {
	padding-top: 60px;
}

.full-section-content {
	max-width: 40%;
}

.full-section-content-img {
	height:280px
}

.card-container {
	width:100%;
	min-height:240px;
	display:flex;
	justify-content: space-around;
	margin: 10px 0;
}

.card {
	box-shadow: 0 0 5px #000;
	border:solid #777 1px;
}
.one-second {
		width:49%;
}
.card-h {
	margin:4px;
	border-bottom: solid #777;
}

.one-fourth{
	width:24%;
}

.three-fourths{
	width:74%;
}

.section-title {
	padding-left:4px;
}
