/* CSS Document */
body {
	margin:0;
}

#title-bar {
	position: fixed;
	width:100%;
	height:60px;
	display: flex;
	box-shadow:0 0 10px;
	align-items: center;
}

#title-bar-icon {
	height:50px;
	margin:5px;
}

#title-self {
	margin:5px;
}

#title-bar-nav {
	margin:0 24px;;
}

.title-bar-nav-item {
	margin:12px;
}

.nav-button {
	width:50px;
	height:50px;
}

#title-bar-buttton-nav {
	position: absolute;
	right:0;
	margin: 0 5px;
}
