/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
}

.title-bar {
	background: #fff;
}

a {
	text-decoration: none;
	color:#fff;
}

#title-bar {
	background: #00a0e9;
	color:#fff;
}

a:hover{
	text-decoration-line: underline;
}

a:active{
	text-decoration-line: none;
}

.full-section {
	background:#333333
}

.full-section-content {
	color:#fff;
	font-size:18px
}
